{{ define "body_classes" }}page-covid{{ end }}

{{ define "main" }}
<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
      <div class="service service-single">
        <h1 class="title">{{.Title}}</h1>
        <div class="content mt-4">{{.Content}}</div>
        <img alt="Car safety graphic" class="info-graphic" src="{{ .Params.car_graphic | relURL }}" />
        <a href="https://www.usatoday.com/story/opinion/2020/04/22/coronavirus-car-protect-yourself-column/5166146002/">source</a>
      </div>
    </div>
  </div>
</div>

{{ end }}