
  /* 3D Button A element */
a.feature {
	position: relative;
	display: inline-block;
	font-size: 18px;
	padding: 20px 40px;
    color: $white-offset;
    font-family: $font-family-heading;
    font-size: 28px;
    text-decoration: none;
	margin: 20px 10px 10px;
	border-radius: 9px;
	text-align: center;
	transition: top .01s linear;
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
    background-color: $primary;
}
a.feature:hover   {
    background-color: $secondary;
    color: $white-offset;
}

a.feature:active {
    top: 5px;
    color: $white-offset;
}

a.feature:active {
	box-shadow: 0 0 0 1px #6191C2 inset,
				0 0 0 2px rgba(255,255,0,0.15) inset,
				0 0 0 1px rgba(0,0,0,0.4);
}


  